body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
.task-card.ui-draggable-dragging {
  z-index: 1000; /* Set a high z-index value to bring the dragged task card to the front */
}